export( "%!in%",
"%&%",
"%**%",
"%downto%",
"%except%",
"%in.range%",
"%is.a%",
"%is.an%",
"%is.not.a%",
"%is.not.an%",
"%matching%",
"%not.in%",
"%such.that%",
"%SUCH.THAT%",
"%that.are.in%",
"%that.match%",
"%upto%",
"%where%",
"%without.name%",
"add.flatdoc.to",
"as.cat",
"as.data.frame.I",
"assign.to.base",
"attach.mlazy",
"autoedit",
"autoFF",
"callees.of",
"callers.of",
"cd",
"cd.change.all.paths",
"cd.write.mvb.tasks",
"cdfind",
"cditerate",
"cdprompt",
"cdregexpr",
"cdtree",
"clip",
"cq",
"create.backups",
"current.source",
"demlazy",
"deparse.names.parsably",
"do.in.envir",
"doc2Rd",
"dochelp",
"docskel",
"dont.lock.me",
"dont.lockBindings",
"empty.data.frame",
"exists.mvb",
"expanded.call",
"extract.named",
"FF",
"find.docholder",
"find.documented",
"find.funs",
"fix.order",
"fixr",
"fixtext",
"flatdoc",
"foodweb",
"from.here",
"full.path",
"get.backup",
"hack",
"help2flatdoc",
"Hours",
"index",
"is.dir",
"legal.filename",
"lib.pos",
"load.refdb",
"local.on.exit",
"local.return",
"localfuncs",
"lsall",
"lsize",
"maintain.packages",
"make.arguments.section",
"make.NAMESPACE",
"make.usage.section",
"masked",
"masking",
"massrep",
"mcachees",
"Minutes",
"mkdir",
"mlazy",
"mlocal",
"move",
"mtidy",
"multinsert",
"multirep",
"mvb.match.call",
"mvb.nargs",
"mvb.parent.frame",
"mvb.sys.call",
"mvb.sys.function",
"mvb.sys.nframe",
"mvb.sys.on.exit",
"mvb.sys.parent",
"my.all.equal",
"my.index",
"my.index.assign",
"my.index.exists",
"named",
"option.or.default",
"patch.installed",
"pos",
"pre.install",
"put.in.session",
"readLines.mvb",
"readr",
"remove.from.package",
"restore.all.backups",
"returnList",
"rm.pkg",
"safe.rbind",
"Save",
"Save.pos",
"search.for.regexpr",
"search.task.trees",
"Seconds",
"set.presave.hook.mvb",
"setup.mcache",
"source.mvb",
"strip.missing",
"task.home",
"to.regexpr",
"unmaintain.packages",
"write.NAMESPACE",
"write.sourceable.function",
"yes.no",
".Last.lib"
)
S3method( print, cat)
S3method( print, cdtree)
S3method( print, docattr)
S3method( print, nullprint)
S3method( print, pagertemp)
S3method( plot, cdtree)
S3method( plot, foodweb)
import( utils)
import( tools)

